html{
	font-size: 62.5%;
	scroll-snap-type: y mandatory;		
}

/* Globales */

body{
	font-family: sans-serif;
	font-size: 1.6rem; /* 1 rem = 10px */
	/*
	background-image: linear-gradient(to top, 
		var(--grisClaro) 0%, var(--blanco) 100% );
	*/ 
	background-color: #F7F7F9;
    line-height:1.5;
    
}
a{
	text-decoration: none;

}
img{
	max-width: 100%;
}
h1,h2,h3{
	text-align: center;
	color: var(--secundario);
}
h1{
	color: var(--principal);
	font-size:4rem;
}
h2{
	font-size: 3.2rem;
}
h2{
	font-size: 3.2rem;
}
p{
	font-size: 1.5rem;
}



/* Variables */
:root{
 	--principal:#4397BC;/*#0B1F39*/
 	--secundario:#9FCFC3;/*#EBE5E0;*/
 	--negro:#000;
 	--blanco:#fff;
 	--gray:hsla(0,0%,66%,20%);
 	--beige:#D9D8D4;
 	--beigeOscuro:#55c9ac;
	/*--beigeOscuro:#9FCFC3;*/
}

/*Contenedor principal - base*/
.contenedor{
	width: 65%;
	height: 100%;
	margin: 0 auto;	
}

/* Header principal */
#header{
	width: 100%;
	height: 7rem;
    border-bottom: solid .1rem var(--gray);	
	background-color: var(--blanco);
	position: fixed;
	position: relative;
	z-index: 100;
}

/* Nav principal */
.nav-principal{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
}

/* Logo AB */
#logo{
	position: absolute;
	z-index: 222;
	width:18.5rem;
	/*height:4.7rem;*/
}

/* Icono del menu responsive*/
#menu-icon{
	position: absolute;
	z-index: 100;
	display:none;
	top:11rem;
	right: -2rem;
	align-self: flex-start;
	margin: 0;
	padding: 0;
}
#cont-upmenu{
	display: none;
}
/* Nav y menu  responsive */

@media screen and (max-width:1150px){/*ancho - no sea mayor se cumple */
	.contenedor{
	width: 70%;
	margin: 0 auto;
	}
}
@media screen and (max-width:880px){/*ancho - no sea mayor se cumple */
	.contenedor{
	width: 80%;
	
	margin: 0 auto;
	
	}
}
/* cuando baje de 780 */
@media screen and (max-width:780px){/*ancho - no sea mayor se cumple */
	.contenedor{
	width: 90%;
	margin: 0 auto;
	}
}

/* dawn menu */
@media screen and (max-width:575px){/*min-cuando baje*/
	.contenedor{
	width: 95%;
	}
	#lista-menu{
		display: none;
	}
	
	#menu-icon{
		right: 2rem;
		display: block;
		z-index: 222;
	}
 	/* cont del logo */
 	#cont-upmenu{
	position: absolute;
	z-index: 1000;
	right: 3rem;
	top: -100px;
	width: 4.4rem;
	margin: 0;
	height: 1rem;
	background-color: rgba(11, 31, 57, .6);
	color: rgba(11, 31, 57, .6);
	display: flex;
	justify-content: center;
	align-items: center;
    /*transition: all 2s;*/
    transition:  width 1s, height 1s, color 3s;

 	}
 	/* Hover en el boton del menu */
 	#cont-upmenu:hover {
 	right: 0;
    cursor: pointer;
    width: 78.8%;
    height: 57rem;
    color: var(--blanco);
	}
}


/* li del down menu */
.li-res{
	list-style: none;
	color: var(--blanco);
	margin-top:5rem;

	font-size: 2.5rem;
	transition: all .2s;
}
.li-res:hover{
	color: var(--beigeOscuro);
	transform: scale(1.05);
}
/* Links del nav */
.li-nav{
	color: var(--negro);
	display: inline;
	margin-left:4rem;
	border-bottom: solid 2px var(--blanco);
	transition:border .7s;	
}
/* Hover en los liks del nav */
.li-nav_active,
.li-nav:hover {
	color: var(--principal);
	padding-bottom: .1rem;
	border-bottom: solid 2px var(--principal);
}
/* contenedor del inicio  */
.cont-inicio{
	width: 100%;
	height: 57rem;
	display: flex;
	flex-direction: row;
	margin-bottom: 5rem;
}
/* Contenedor de las imagenes */
.cont-images{
	width: 50%;
	height: 100%;
	padding: 3rem;
	
}
/* Imagenes del primer sector */
.cont-images img{
	position: relative;
	width: 30rem;
	height: 30rem;
	border-radius: .6rem;
}
/*Estilos a el contendor del titulo*/
.cont-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	padding-right: 10%;
	
}
/* Estilos de la imagen 1 - header*/
#backimg1{
	display:block;
	z-index: 22;
	margin-left:45%;
}
/*  Estilos de la imagen 2 - header */
#backimg2{
	display:block;
	margin-top: -8rem;
	margin-left:15%;
	
}
#flecha2{
	display: none;
}
/* Estilos a la onda*/
#onda{
	position: absolute;
	z-index: -2;
	top:42.5rem;
	right: 0;
}
/* Diseño responsive de las imagenes principales */

@media screen and (max-width:1150px){
    #backimg1{
    width: 27rem;
	height: 27rem;
	margin-top: 2rem;	
   	margin-left:42%;
	}
	#backimg2{
	width: 27rem;
	height: 27rem;	
	margin-left:8%;
    }
    .cont-title{
    padding-right: 4%;
	}
}
/* diseño responcive a el titulo e imagenes */
@media screen and (max-width:1000px){/*ancho - no sea mayor se cumple */
	.cont-title{
     margin: 0 auto;
     padding-right: 0;
	}
	#backimg1{
	margin-left:35%;
	}
	#backimg2{
	margin-left:0;	
    }
}
@media screen and (max-width:880px){/*ancho - no sea mayor se cumple */
	
	#backimg1{
	width: 25rem;
	height: 25rem;	
	margin-left:35%;
	margin-top: 3rem;	
	}
	#backimg2{
	width: 25rem;
	height: 25rem;
	margin-top: -5rem;	
	margin-left:0;	
    }
 
}
/* Cambiamos el posicionamiento para dispositvos mobil */

@media screen and (max-width:800px){
   .cont-inicio{
   	flex-direction: column;
   	margin-bottom: 0;
   	}
   	.cont-title{
   	height: 20rem;
   	}
   	.cont-images{
   	width:100%;
   	height: 60%;
   	padding: 3rem;
    order:3;
    display: flex;
    flex-direction: row;
   	}
   	#flecha{
   		display: none;
   	}
   	#flecha2{
   	position: relative;
	display: block;
	width: 6rem;
	margin:0 auto;
	top: -5.5rem;
    }
    #backimg1{
   	width: 50%;
   	height: 100%;
   	margin:0 0;
	}
	#backimg2{
	width: 50%;
   	height: 100%;
	margin:0 0;
    }
	#onda{
		top:18rem;
	}
}
@media screen and (max-width:550px){
	.cont-images{
	padding: 0;	
	}
	#flecha2{
	display: none;
	}
	.cont-title{
	width: 100%;
	}
	#backimg1{
	object-fit: cover;
	}
	#backimg2{
	object-fit: cover;
    }
}
/* Estilos a la flecha */
#flecha{
	width:7rem;
	margin-top: 5rem;
	transition: .5s;
}
/* Hover en la flecha */
#flecha:hover,#flecha2:hover{
	cursor: pointer;
	transform: scale(1.1);
}
/*contenedora del fondo gris*/
.back-cont{
  width: 100%;
  height: 200rem;
  margin-top: 5rem;
  background-color: var(--beige);
  padding: 5rem;
}
/* Estilos a el contendor que centra*/
.contenedor-product{
	width: 62rem;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;	
}
/* Estilos a el contenedor de productos */
.cont-grid{
 display: grid;
 width: 100%;
 height: 100rem;
 margin: 1rem auto;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(5, 1fr);
 gap: 1rem;
}


/* Contenedor de productos */
.cont-producto{
 width: 20rem;
 height: 30rem;
 border:var(--blanco)2px solid;
 background-color: var(--blanco);
 border-radius: .8rem;
 box-shadow: .1rem .1rem .5rem .2rem rgba(0, 0, 0, 0.08);
 text-align: start;
}

/*Graficos*/
.grafico{
	min-height: 30rem;
	overflow: hidden;
	object-fit: cover;
	transition: .5s;
	border-radius: 5px;
}
.grafico--camisas{
	grid-row: 2/3;
	grid-column: 1/3;
	background-image: url(grafico1.jpg);
	object-fit: cover;	
}
.grafico--node{
	background-image: url(grafico2.jpg);
	object-fit: cover;
	grid-column: 2/4;
	grid-row: 5/6;
}
/*Hover en los graficos*/
.grafico:hover{
	transform: scale(1.01);
}
/*Responsive en los productos*/
@media screen and (max-width:820px){
	.contenedor-product{
		width: 61rem;
	}
	.back-cont{
		height: 230rem;
		padding: 0;
	}
	.grafico--node{
		grid-column: 2/4;
	}
	.back-cont{
		height: 195rem;
	}
}
@media screen and (max-width:650px){
	.contenedor-product{
		width: 41rem;
	}
	.cont-grid{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);	
	}
	.back-cont{
		height: 286rem;
	}
	.grafico--camisas{
		grid-row: 4/5;
		grid-column: 1/3;
	}
	.grafico--node{
		grid-row: 8/9;
		grid-column: 1/3;
	}
}
@media screen and (max-width:500px){
	.cont-grid{
		gap:.1rem;
		row-gap: .5rem;
	}
	.cont-producto{
		width: 19rem;
	}
	.contenedor-product{
		width: 39rem;
	}
}
/* Hover en los productos*/
.cont-producto:hover {
	border:var(--beigeOscuro)2px solid;
}
/*Estilos a las las imgagenes de los productos*/
.cont-producto img{
 	border-radius: .8rem;	
}
/*titulos de los productos*/
.cont-producto h2{
	color: var(--principal);
	margin:0 auto;	
}
/*Estilos a las letras de los productos*/
.cont-producto p{
	margin-left: 1.5rem;
}
/*Color a los precios*/
.p-price{
	color:var(--beigeOscuro);
}


/*estilos del footer*/
#footer{
	text-align: center;
	padding: 3rem;
}
#a-footer{
	text-decoration:underline;
}
