.li-nav_active{
	color: var(--principal);
	padding-bottom: .1rem;
	border-bottom: solid 2px var(--principal);
}

/*Estilos al formulario*/

#area-contacto{
	border:none;
	margin:0 auto;
	width:100%;
	height: 100%;
	}
/*Contenedor formulario*/
#formulario{
	background-color: var(--beige);
   width: min( 60rem, 100%); /*Utiliza el valor mas pequeño */
   margin: 0 auto;
   padding: 1.8rem;
   border-radius: 1rem;
   box-shadow: .1rem .1rem .5rem .2rem rgba(0, 0, 0, 0.08);
}
/* Titulo del formulario */
 #formulario legend {
   color: var(--beigeOscuro);
   font-weight: 700;
   font-size: 1.8rem;
   text-transform: uppercase;
   margin-bottom: 2rem;
 }
/* Ordenar con grid a mayor resolucion el formulario */
@media screen and (min-width:768px){
	.cont-form{
 	  display:grid;
 	  grid-template-columns:1fr 1fr;
 	  grid-template-rows:auto auto 20rem;
 	  column-gap: 1rem;
	}
/* Seleccion de el elemento #3 para poder posicionarlo con GRID*/
	.cont-label:nth-child(3) {
		grid-column:1 / 3;
	}
/* Seleccion de el elemento #3 para poder posicionarlo con GRID*/
	.cont-label:nth-child(4) {
		grid-column:1 / 3;
	}

}
/* Contenedor de los cada label y imput */
.cont-label {
	text-align: left;
	margin-bottom: 1rem;
}
/* Estilos a los inputs y textareas de el formulario */
.cont-label input,textarea{
	width: 100%;
	border:none;
	padding: 1.3rem;
	border-radius: .5rem;
}
/* Estilos solo a los labels del formulario */
.cont-label label{
	color:var(--principal);
	font-weight: bold;
	margin-bottom: .5rem;
	display: block;
	text-align: left;
}
/* Boton enviar del formulario */
#boton-enviar{
	margin-top: 3rem;
	background-color: var(--principal);
	color: var(--blanco);
	font-weight: 400;
    padding: 2rem;
    border: none;
    border-radius: .5rem;
	transition:ease .5s;

}
/* Hover en el boton de enviar */
#boton-enviar:hover{
	cursor: pointer;
	transform: scale(1.05);
}
/* Configuracion del textarea para que se no rompa */
	#textarea{
		max-width: 540px;	
		max-height: 157px;
	}

/*Cuando este activo los inputs y el textarea*/
/*
input:focus{
	border:1px solid red;
}
*/

/* contenedor redes*/
.cont-redes{
	margin-top: 3rem;
}
/* cont - logos */
.div-redes-grid{
	display: grid;
	width: 25rem;
	margin: 2rem auto;
	gap: 1rem;
	grid-template-columns: repeat(4, 1fr);
}
/* estilos logos */
.div-redes-grid img{
	max-width: 5rem;
	transition: ease .5s;
}
.div-redes-grid img:hover{
	cursor: pointer;
	transform: scale(1.15);
}
/*Footer*/
#footer{
	background-color: var(--beige);
	margin-top: 8rem;
}